<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About Me</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About Me</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome visitor 👋</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This project is an application for a dev job. The following text may be a bit outdated, but still provides some information
        about me. It was originally taken from <a href="https://bytevagabond.com">ByteVagabond.com</a></p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>whoami</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Education:</h2>
      <p>Bachelor of Science Code &amp; Context 2020-2023</p>
      <p>IT apprenticeship for application development 2018-2020</p>
      <p>Geek since 2010, A-levels 2015</p>

      <h2>Skills:</h2>
      <p>Full stack cross-platform developer</p>
      <p>Linux</p>
      <p>Muscle ups</p>

      <h2>Best Experience:</h2>
      <p>Met Fredrik Neij (Thepiratebay founder) while traveling in Laos 2016</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>My projects so far</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>A "100% free as in freedom" Thinkpad x230 with corebooted BIOS, Arch Linux and hardware mods (Keyboard,
        Display, WiFi)</p>
      <p>3D printed, Raid 5 homeserver with an energy efficient NanoPi M4</p>
      <p>Modified any device I own. From Linux on the OG XBOX to flashing custom ROMs on Android Phones. "If you can't
        hack it, you don't own it."</p>
      <p>Privacy focused and portable OpenWRT Router. Blocking trackers, ads and malware before they reach my client
        devices.</p>
      <p>Full stack web development with an "offline first" approach. Synchronized backend with CouchDB / PouchDB and
        Ionic Angular with capacitor as frontend.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>What I am dreaming of</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Black soldier fly and aquaponics farm for efficient and sustainable protein and calorie production</p>
      <p>A feeless, scalable and decentralized value and data transfer protocol</p>
      <p>Embedded system engineering to build more things</p>
      <p>Small LoRaWAN satellite for worldwide communication</p>
      <p>IoT botnet for proxies to promote ideas and products on social media</p>
      <p>A society organized by algorithms, not crooked politicians</p>
    </ion-card-content>
  </ion-card>
</ion-content>
