// Ionic / digi Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@font-face {
  font-display: swap;
  font-family: 'Carmen';
  font-style: normal;
  font-weight: normal;
  src: url('./../assets/fonts/Carmen-Sans-Medium.woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Carmen';
  font-style: normal;
  font-weight: bold;
  src: url('./../assets/fonts/Carmen-Sans-Bold.woff2');
}

/** Ionic CSS color Variables **/
:root {
  --ion-font-family: Carmen;
  --ion-background-color: #212529;
  --ion-background-color-rgb: rgb(33, 37, 41);

  --ion-text-color: white;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-tab-bar-background: #2a2e32;
  --ion-card-background: #2c3036;
  --ion-card-background-rgb: 44, 48, 54;
  --ion-item-background: #202020;

  --ion-color-primary: #fc976f;
  --ion-color-primary-rgb: 252, 151, 111;
  --ion-color-primary-contrast: black;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #de8562;
  --ion-color-primary-tint: #fca17d;

  --ion-color-secondary: #7189ff;
  --ion-color-secondary-rgb: 113, 137, 255;
  --ion-color-secondary-contrast: black;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #6379e0;
  --ion-color-secondary-tint: #7f95ff;

  --ion-color-tertiary: #fa5f8e;
  --ion-color-tertiary-rgb: 250, 95, 142;
  --ion-color-tertiary-contrast: black;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #dc547d;
  --ion-color-tertiary-tint: #fb6f99;

  --ion-color-success: #00e219;
  --ion-color-success-rgb: 0, 226, 25;
  --ion-color-success-contrast: black;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #00c716;
  --ion-color-success-tint: #1ae530;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: black;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #e3544b;
  --ion-color-danger-rgb: 227, 84, 75;
  --ion-color-danger-contrast: white;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c84a42;
  --ion-color-danger-tint: #e6655d;

  --ion-color-medium: #96989a;
  --ion-color-medium-rgb: 150, 152, 154;
  --ion-color-medium-contrast: black;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #848688;
  --ion-color-medium-tint: #a1a2a4;

  --ion-color-light: #41444a;
  --ion-color-light-rgb: 65, 68, 74;
  --ion-color-light-contrast: white;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #393c41;
  --ion-color-light-tint: #54575c;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: white;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: grey;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #ccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;
}

/** digi CSS color Variables **/
:root {
  --digi-color-primary: #fa5f8e;
  --digi-color-secondary: #ffd900;
  --digi-color-rich-black: #000E39;
  --digi-gradient-45deg: linear-gradient(45deg, var(--digi-color-primary), var(--digi-color-secondary));
  --digi-gradient-90deg: linear-gradient(90deg, var(--digi-color-primary), var(--digi-color-secondary));
}

/*
 * padding Top Vars
 * -------------------------------------------
 */
.plt-desktop {
  --digi-padding-inset-top: 0;
  --digi-padding-header-inset-top: 0;
}

.plt-ios {
  --digi-padding-inset-top: env(safe-area-inset-top);
  --digi-padding-header-inset-top: 0;
}

.plt-android {
  &.plt-capacitor {
    --digi-padding-inset-top: 3.90625vh;
    --digi-padding-header-inset-top: 3.90625vh;
  }
}
