ion-header {
  background: transparent;
  padding-top: var(--digi-padding-header-inset-top, 0);

  ion-toolbar {
    --background: transparent;
  }
}

h1 {
  font-size: 22px;
  font-weight: 600;
}

ion-item {
  --ion-item-background: transparent;

  ion-input {
    margin-bottom: 0;
  }

  .type-toggle {
    color: var(--ion-color-medium);
    padding-inline-start: 0.5rem;

    .show-option,
    .hide-option {
      display: block;
      font-size: 1.2rem;
    }
  }
}

.input-warnings {
  font-size: 15px;
  width: 100%;

  ion-label {
    color: var(--ion-color-medium);
    margin-left: 5px;
  }

  ion-label,
  ion-icon {
    display: inline-block;
    vertical-align: middle;
  }

  &.touched {
    .success {
      ion-label {
        color: var(--ion-text-color);
      }

      ion-icon {
        color: var(--ion-color-success);
      }
    }
  }
}

.success-message {
  align-items: center;
  display: flex;
  flex-direction: column;

  ion-icon {
    font-size: 10rem;
    margin-bottom: 20px;
  }

  ion-text {
    font-size: 20px;
    text-align: center;
  }
}
