<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button *ngIf="!signUpSuccess" icon="chevron-back-outline" defaultHref="/enter-digi-demo" slot="start">
    </ion-back-button>
    <ion-title>{{signUpSuccess ? 'Success!' : 'Create account'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <ion-grid>
    <ion-row *ngIf="!signUpSuccess">
      <ion-col class="ion-hide-md-down" size="3"/>

      <ion-col>
        <h1>Choose a password</h1>
      </ion-col>
      <ion-col class="ion-hide-md-down" size="3"/>

    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col class="ion-hide-md-down" size="3"/>

      <ion-col *ngIf="!signUpSuccess; else signUpSuccessMessage">
        <form (ngSubmit)="setPassword()" [formGroup]="setPasswordForm"  autocomplete="on">
          <ion-item>
            <ion-input #passwordInput placeholder="Password" formControlName="password" autocapitalize="off"
                       autocorrect="off" maxlength="20" name="password" type="password" clearInput="true"
                       clearOnEdit="true" class="ion-margin-bottom"/>
            <a class="type-toggle" (click)="toggleShow()">
              <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"/>
            </a>
          </ion-item>

          <div class="input-warnings" [class.touched]="password?.dirty || password?.touched">
            Your password must have:<br>
            <div [class.success]="!password?.errors?.['minlength'] && !password?.errors?.['maxlength'] && !password?.errors?.['required']">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
              <ion-label>
                6 to 20 characters.
              </ion-label>
            </div>
            <div [class.success]="!password?.errors?.['pattern'] && !password?.errors?.['required']">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
              <ion-label>
                Letters, numbers & special characters.
              </ion-label>
            </div>
          </div>

          <ion-button type="submit" class="ion-margin-bottom" [disabled]="loading || !password?.valid" expand="block">
            <span>{{ loading ? 'Setting password?...' : 'Finish'}}</span>
          </ion-button>
        </form>
      </ion-col>

      <ng-template #signUpSuccessMessage>
        <ion-col class="success-message" >
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          <ion-text class="ion-margin">
            Thanks for creating your account. Check your emails to complete the process.
          </ion-text>
          <ion-button routerLink="/auth-email" class="ion-margin width-100" expand="block">Sign in</ion-button>
        </ion-col>
      </ng-template>

      <ion-col class="ion-hide-md-down" size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
