<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DigiDemo Pokedex
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/about">
        <ion-icon slot="icon-only" name="information-circle-outline"/>
      </ion-button>
      <ion-button (click)="authService.logout()">
        <ion-icon slot="icon-only" name="log-out-outline"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <cdk-virtual-scroll-viewport class="ion-content-scroll-host" itemSize="56" minBufferPx="900" maxBufferPx="1350">
    <ng-container *ngIf="items.length > 0; else skeletonTemplate">
      <ion-list>
        <ion-item *cdkVirtualFor="let item of items" (click)="openDetailsModal(item)" button>
          <ion-avatar slot="start">
            <img [src]="item.url | pokemonSprite" [alt]="item.name" width="40" height="40" (error)="handleImageError($event)"/>
          </ion-avatar>
          <ion-label>{{item.name | titlecase}}</ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-template #skeletonTemplate>
      <ion-list>
        <ion-item *ngFor="let _ of [].constructor(10)">
          <ion-avatar slot="start">
            <ion-skeleton-text animated style="width: 40px; height: 40px;"/>
          </ion-avatar>
          <ion-label>
            <ion-skeleton-text animated style="width: 100px;"/>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>

    <ion-infinite-scroll *ngIf="items.length < totalItems" (ionInfinite)="onScrollEnd($event)">
      <ion-infinite-scroll-content/>
    </ion-infinite-scroll>
  </cdk-virtual-scroll-viewport>
</ion-content>

<ion-modal #detailsModal trigger="open-modal" [initialBreakpoint]="0.75" [breakpoints]="[0.5, 0.75, 1]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ detailsItem?.name | titlecase }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="detailsModal.dismiss()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="height-100">
      <ion-card class="ion-no-margin">
        <ion-card-header class="flex ion-align-items-center">
          <img *ngIf="detailsItem" [src]="detailsItem.url | pokemonSprite" [alt]="detailsItem.name" width="215"
               height="215" (error)="handleImageError($event)"/>
        </ion-card-header>
        <ion-card-content class="ion-no-padding">
          <ion-list *ngIf="pokemonDetails; else skeleton">
            <ion-list-header lines="inset">
              <ion-label>Basics</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>
                <p>Height: {{ pokemonDetails.height }}</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Weight: {{ pokemonDetails.weight }}</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Base Experience: {{ pokemonDetails.base_experience }}</p>
              </ion-label>
            </ion-item>
            <ion-list-header lines="inset">
              <ion-label>Abilities</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let ability of pokemonDetails.abilities">
              <ion-label>
                <p>{{ ability.ability.name | titlecase }}</p>
              </ion-label>
            </ion-item>
            <ion-list-header lines="inset">
              <ion-label>Types</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let type of pokemonDetails?.types">
              <ion-label>
                <p>{{ type.type.name | titlecase }}</p>
              </ion-label>
            </ion-item>
            <ion-list-header lines="inset">
              <ion-label>Stats</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let stat of pokemonDetails?.stats">
              <ion-label>
                <p>{{ stat.stat.name | titlecase }}: {{ stat.base_stat }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
          <ng-template #skeleton>
            <ion-skeleton-text *ngFor="let i of [].constructor(10)" animated style="width: 100%; height: 20px" class="ion-margin"/>
          </ng-template>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>
